Reddit-User-Meta-Data-Retrieval.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant who based on the specific input, delivers a specific output in a json format the structure of which is exactly similar to this:\n{\n\"Topic\":[Input given by the user]\n\"Keywords\":[List of Input Keywords related to the topic for searching reddit posts]\n\"Subreddit-Names\":[List of 2 actual Sub reddit names related to the keywords]\n}\n\n\n\nDo not provide names of redundant subreddit names. use serp search tool to get accurate names. do not create names by yourself. You must use the serp search tool and the reddit get many subreddits tool. this is compulsory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        -208
      ],
      "id": "47ca9c1d-1d90-4c80-b307-a599a4df7841",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        144
      ],
      "id": "4552b160-3c1b-45ef-87af-280754faffed",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "----You-Broke-?----",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        144
      ],
      "id": "0a77dae0-4d07-4c28-9480-4be1a6ddd57d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "cef4dd97-0388-400a-a6ba-e00635fb2014",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "----Again-?----",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        0
      ],
      "id": "964faa2b-9053-43b7-bde5-d1e6956951fb",
      "name": "When chat message received",
      "webhookId": "----why-?----"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"Subreddit-Names\": [\"List of names of subreddits provided\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract the Subreddit names from the text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        400,
        -208
      ],
      "id": "c7db19e0-d054-4b65-a02f-3a0387dee23e",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        144
      ],
      "id": "5e136b92-f7d8-4962-8490-1358e840be9d",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Get posts from these Subreddits: \n{{ $json.output['Subreddit-Names'] }}",
        "options": {
          "systemMessage": "You are a helpful assistant, If any error arrives during tool execution, please ignore it and keep moving forward with other tool calling."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -208
      ],
      "id": "3d12ac0f-3acf-4e84-8c94-22d826ea9868",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        656,
        144
      ],
      "id": "249c7a49-d419-4f4b-9589-c118bc0f6a14",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        816,
        144
      ],
      "id": "7c6cef78-9a4e-4117-a06f-62d948ef972b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subreddit', ``, 'string') }}",
        "filters": {
          "category": "new"
        }
      },
      "type": "n8n-nodes-base.redditTool",
      "typeVersion": 1,
      "position": [
        976,
        144
      ],
      "id": "5a50b100-f9a8-4820-a1be-26f7754b6097",
      "name": "Get many posts in Reddit",
      "credentials": {
        "redditOAuth2Api": {
          "id": "",
          "name": "Reddit account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "subreddit",
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.redditTool",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "34a8557b-9eeb-4b7d-883a-97727fe4645b",
      "name": "Get many subreddits in Reddit"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Subreddit",
              "description": "name of the subreddit provided"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1232,
        -208
      ],
      "id": "480f2f7c-24a9-4781-bd3c-a66977ccd3d8",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1232,
        144
      ],
      "id": "6c078ae5-4fa2-4f61-81c0-b4c5eb7f2442",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "={{ $json.output.Subreddit }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "id": "6cce2194-08a5-495e-b57c-1718f250adb0",
      "name": "Get many posts",
      "credentials": {
        "redditOAuth2Api": {
          "id": "",
          "name": "Reddit account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=this is the post made by the user. you need to understand their requirement and prepare an appropriate sales pitch using our serp search tool to get that item from our company so that you can send an appropriate message. Our company name is Myntra so that should be your very first use of the serp search tool.\nmessage:\n{{ $json.selftext }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1728,
        -208
      ],
      "id": "051fe7e5-702f-4379-ab42-276ccab85411",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "gemma2-9b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1696,
        144
      ],
      "id": "52267941-35ea-4161-97f6-e1c5000f79ff",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1984,
        144
      ],
      "id": "aaa88c50-85d3-4be8-ac80-2047657cffe0",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1856,
        144
      ],
      "id": "675b7f47-f6bc-431f-a303-5cc80124e9b3",
      "name": "Simple Memory2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many posts in Reddit": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many subreddits in Reddit": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Get many posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many posts": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f393cf38-e748-40a0-86a1-35dd8f091043",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cdf2de75db0d6a9309bf4807bff344f0cd9b78938c44705d0aeffba6a5eb162"
  },
  "id": "c8ggxje1DzOh8Vuo",
  "tags": []
}